.about {
  padding-top: 140px;
  padding-bottom: 120px;

  .container {
    display: flex;
  }
}

.about__list {
  display: flex;
  margin-right: 64px;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about-content__top-text {
  margin-bottom: 20px;
}

.about-content__title {
  margin-bottom: 20px;
}

.about-content__bottom-text {
  color: var(--text-color);
  margin-bottom: 20px;
}

.about-content__text {
  @include font(null, 14px, 1.86, 0.02em);
  color: var(--text-color);
  margin-bottom: 40px;
}

.about-content__btn-link {
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
  }
}
