.benefit {
  padding-top: 140px;
  padding-bottom: 140px;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.benefit__list {
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit__item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  display: block;
  text-align: center;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }
}

.benefit__count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  margin-bottom: 6px;

  &::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;
    color: var(--accent-color);
    vertical-align: top;
  }
}

.benefit__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.benefit__top-text {
  margin-bottom: 20px;
}

.benefit__title {
  margin-bottom: 20px;
}

.benefit__bottom-text {
  color: var(--text-color);
}
