.contact-wrap {
  background-color: #191c26;
  background-image: url(../img/Bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  min-width: 1280px;
  margin: 0 auto;

  .container {
    display: flex;
  }
}

.contact {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  width: calc(50% - 15px);
}

.contact__title {
  margin-bottom: 40px;
}

.contact-address {
  font-style: normal;
}

.address__list {
  width: 370px;
}

.address__link,
.address__tel,
.address__mail {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.address__tel {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.address__mail {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.address__icon {
  stroke: currentColor;
  margin-right: 16px;

  .address__link:hover &,
  .address__link:focus & {
    stroke: var(--accent-color);
  }
}

.address__link .address__icon {
  margin-top: 4px;
}

.contact__top-text {
  color: var(--secondary-color);
  margin-bottom: 20px;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
    margin-right: 20px;
  }
}

.contact__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
